<%= form_for @changeset, @action, [class: "form-article"], fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, class: "form-control title", placeholder: "Title" %>
    <%= error_tag f, :title %>
  </div>
  <%= hidden_input f, :body %>

  <div id="editorjs"></div>
  <pre id="output"></pre>

  <div class="form-group">
    <%= submit "Publish", class: "btn btn-purple margin-0", id: "save-button" %>
  </div>
<% end %>
