$blue: #204AFF;
$light-blue: #204affe3;
$dark-navy: #19234C;
$dark-purple: #5a189a;
$dusty-purple: #606992;
$light-dusty-purple-two: #d8e0f1;
$light-dusty-purple: #A9B9FF;
$light-grey: #efefef;
$light-grey-three: #808080;
$light-greyish-blue: #3F4871;
$light-purple-two: #ece7ef;
$light-purple: #f6f9ff;
$navy: #1f2d67;
$purple-two: #9e62d2;
$purple: #7b2cbf;
$light-grey-two: #C8CDE0;
$grey: #7b7b7b;
$dark-grey: #4c5063;

