.profile {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 8px;

  &__name {
    color: $navy;
  }

  &__bio {
    font-size: 14px;
    color: $dusty-purple;
    margin-bottom: 10px;
  }

  &__join-date {
    color: $light-grey-three;
    font-size: 13px;
    margin-top: 25px;
  }

  &__avatar {
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    width: 100px;
  }

  .btn-edit-profile {
    font-size: 12px;
    padding: 5px 15px;
    margin-top: 3px;
  }
}

.articles {
  margin-top: 35px;

  .title {
    color: $navy;
    font-weight: 600;
    font-size: 18px;
  }

  .card {
    margin-bottom: 30px;
    padding: 0;

    .card-body {
      padding: 30px;

      .card-text {
        color: $dusty-purple;
        font-size: 14px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }

      .card-title {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: $light-blue;
        display: -webkit-box;
        margin-bottom: 20px;
        overflow: hidden;
      }

      .btn {
        font-size: 13px;
        padding: 6px 15px;
      }
    }

    .card-img-top {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}

.edit-profile {
  h4 {
    margin-bottom: 28px;
  }

  .form-profile {
    margin-top: 25px;

    label {
      color: $navy;
      font-size: 16px;
    }

    .form-group {
      margin-bottom: 30px;
    }

    .avatar-label {
      cursor: pointer;
      display: inline-flex;
      width: 100px;
      
      .avatar {
        border-radius: 50%;
        height: 100px;
        object-fit: cover;
        width: 100px;
      }

      .icon {
        display: inline-block;
        margin-left: -68px;
        margin-top: 34px;
        width: 35px;
        height: 35px;
      }
    }

    .form-control-file {
      display: none;
    }

    small {
      color: $dusty-purple;
      display: block;
      font-size: 12px;
      margin-top: 15px;
    }

    textarea.form-control {
      padding-bottom: 8px;
    }

    .form-control {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $light-grey;
      font-size: 14px;
      margin-top: 5px;
      padding: 0;
      resize: none;

      &:focus {
        box-shadow: none;
        border-bottom: 1px solid $dusty-purple;
      }
    }
  }

  .setting-menu {
    ul {
      list-style: none;

      li {
        font-size: 16px;
        padding-bottom: 20px;

        a {
          color: $light-grey-three;

          &:hover {
            color: $navy;
          }
        }
      }

      li.active {
        a {
          color: $navy;
          font-weight: 600;
        }
      }
    }
  }
}
