.btn {
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 30px;

  &:hover {
    color: white;
  }
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: $light-blue;
  }
}
